html,body{
    padding: 0px;
    margin: 0px;
    font-family: 'Jaldi', sans-serif;
    background-color: rgb(51, 51, 51);
}

.navbar{
    height: 51px;
}

.logo{
    width: 49px;
    height: 49px;
    margin-left: 50px;
    float: left;
    font-size: 42px;
    color: rgb(43, 43, 43);
    text-align: center;
    padding-top: 3px;
}

.menu{
    float: right;
    margin: 0px;
    padding: 0px;
    display: flex;
    margin-top: 20px;
    margin-right: 49px;
}

.menu ul{
    height: 34px;
    padding-top:5px;
    padding-right:15px;
    margin: 0px;
    display: flex;
}
.menu ul li{
    display: block;
    float: left;
    margin-left: 2px;
    /* border:1px solid rgb(126, 126, 126); */
    padding: 8px;
    background-color: #a9dc57;
}

.containerElements{
    margin-top: 50px;
    margin-left: 20px;
    width:990px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.group{
    float: left;
}

.el{
    width: 45px;
    height: 41px;
    padding:4px ;
    text-align: center;
    margin-left: 2px;
    margin-top: 2px;
    padding-bottom: 7px;
    cursor: pointer;

}

.numberAtomic{
    font-size: 10px;
    text-align: left;
    margin-left: -1px;
    margin-top: 0px;
}
.symbol{
    font-size: 18px;
    margin-top: -1px;
}
.nameElement{
    font-size: 10px;

}
.mass{
    font-size: 10px;
    margin-top: 1px;
}




/* ******************** */
/* ******************** */
/* ******************** */
/* ******************** */
/* ******************** */

.containerDescript{
    width: 548px;
    height: 160px;
    position: absolute;
    margin-top: -107px;
    margin-left: -109px;
    background: #a07c9a;
}


.imgElement{
    width: 164px;
    height: 160px;
    background: rgb(0, 0, 0);
}

.imgElement img{

    width: 164px;
    height: 160px;
}

.imgElementRight{
    width: 250px;
    height: 200px;
    background-color: rgba(255, 255, 240, 0.493);
    /* background: rgb(175, 175, 175); */
    text-align: center;
}

.imgElementRight img{
    width: 200px;
    height: 200px;
}

.boxElement{
    height: 34px;
}
.description{
    margin-top: -135px;
    margin-left: 210px;
    width: 390px;
    
}           
.containerDataElements{
    float: left;
    display: grid;
    grid-template-columns: 150px 150px;
    grid-gap: 1px;
    width: 301px;
}

.itemContainerElement{
    border: 1px solid rgb(82, 82, 82);
    background-color: rgba(255, 255, 240, 0.493);
    line-height: 24px;
    color: rgba(0, 0, 0, 0.671);
}
.itemNameElement{
    grid-column-start: 1;
    grid-column-end: 3;
    height: 34px;
    line-height: 34px;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
}

.symbolElement,.atomicNumberElement,.avarageAtomicMassElement{
    text-align: center;
    height: 24px;
}
.labelSymbol,.labelNumberAtomic,.labelAtomicMass{
    padding-left: 10px;
}

.containerDescriptionOfElements{
    width: 250px;
    height: 482px;
    position: absolute;
    margin-top: -376px;
    margin-left: 1052px;
}

.tableDescriptionElement{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    margin-top: 5px;
}
.item-left{
    border: 1px solid rgb(82, 82, 82);
    background-color: rgba(255, 255, 240, 0.493);
    color: rgba(0, 0, 0, 0.671);

    width: 118px;
    padding-right: 5px;
    height: 24px;
    line-height: 24px;
    text-align: right;
    font-size: 14px;
}
.item-right{
    border: 1px solid rgb(82, 82, 82);
    background-color: rgba(255, 255, 240, 0.493);
    color: rgba(0, 0, 0, 0.671);

    width: 117px;
    padding-left: 5px;
    height: 24px;
    line-height: 24px;
    text-align: left;
    font-size: 14px;
}

.descriptionElement{
    border: 1px solid rgb(82, 82, 82);
    background-color: rgba(255, 255, 240, 0.493);
    color: rgba(0, 0, 0, 0.856);

    display: flex;
    padding: 5px;
    text-align: center;
    line-height: 14px;
    margin-top: 5px;
    font-size: 14px;
}
.lantanideos{
    position: absolute;
    margin-top: 246px;
    display: flex;   
    float: left;
}
.lantanideos .el{
    float: left;
}

.actinidios{
    position: absolute;
    margin-top: 300px;
    float: left;
    display: flex;
}

.actinidios .el{
    float: left;
}